@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Iceberg&display=swap');


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

/*navbar*/

.title {
    color: #FA7235;
    font-size: 2rem;
    text-decoration: none;
    padding-left: 50px;
    font-weight: bold;
    font-family: "Expletus sans";
    font-style: italic;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(250, 114, 53, 0.3); 

}

.line {
    background-image: linear-gradient(transparent 0%, transparent 90%, hotpink 90%, hotpink 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: center;
    transition: background-size 300ms;
}

.line:hover {
    background-size: 100% 100%;
    background-position-x: center;
}

.nav-links {
    list-style: none;
    display: flex;
    padding-left: 0;
    gap: 2rem;
}

.nav-links li {
    margin: 0px 15px;
}

.nav-links a {
    text-decoration: none;
    color: gray;
    height: 100%;
}

.nav-actions {
    display: flex;
    align-items: center;
}

.navc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.search-button {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: white;
    color: gray;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 15px;
    min-width: 169px;
    flex-wrap: nowrap;

}

.search-button svg {
    margin-left: 70px;

}

.signup {
    text-decoration: none;
    color: gray;
    font-size: 1rem;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    display: inline-block;
    min-width: 50px;
    flex-wrap: nowrap;
    margin-right: 50px;
}

@media (max-width: 862px) {
    .nav-links {
        gap: 0.5rem;
    }
}

.svg1 {
    vertical-align: middle;
    color: gray;
}

.l-c a .spl {
    background-color: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(250, 114, 53, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

/* Side bar */

.l-c {
    display: none;
}

#s-a {
    display: none;
}

.o-s,
.c-s {
    display: none;
}

@media (max-width: 768px) {
    .search-button {
        display: none;
    }

    .title {
        padding-left: 20px;
    }

    .signup {
        display: none;

    }

    .nav-links {
        display: none;
    }

    .l-c {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 250px;
        background-color: rgb(240, 232, 245);
        box-shadow: 10px 5px 10px rgba(131, 58, 180, 1);
        transition: 0.75s ease-out;
    }

    .l-c a {
        text-decoration: none;
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
        color: #FA7235;
        font-size: 1.1rem;
    }

    .l-c a:last-child {
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(250, 114, 53, 1) 50%, rgba(252, 176, 69, 1) 100%);
        border-radius: 10px;
        color: whitesmoke;
    }

    .o-s,
    .c-s {
        display: block;
    }

    .o-s {
        padding-right: 1rem;
    }

    .c-s {
        padding: 1rem;
    }

    #s-a:checked~.l-c {
        right: 0;
    }

    #s-a:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

}


/*home*/
body {
    margin: 0;
}

.container-home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
}

.b-c {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(250, 114, 53, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.text-section {
    text-align: center;
    padding-left: 50px;
}

.text-section h1 {
    font-size: 4.3rem;
    margin: 0;
    color: white;
}

.text-section p:first-of-type {
    font-size: 0.9rem;
    color: whitesmoke;
    opacity: 70%;
}

.text-section p {
    font-size: 1.2rem;
    color: whitesmoke;
    margin-top: 0;
}
.n-m{
    margin-bottom: 0;
    padding-top: 1rem;
}

.text-section .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FA7235;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.text-section .explore {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    opacity: 70%;
    margin-left: 11px;
    margin-top: 15px;
}

.book-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.book-cover img {
    max-width: 370px;
    height: auto;
    aspect-ratio: 4/5;
}

@media (min-width: 768px) {
    .container-home {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .text-section {
        text-align: left;
    }

    .book-cover {
        justify-content: flex-end;
    }
}

@media (max-width: 1024px) {
    .text-section h1 {
        font-size: 4rem;
    }

    .text-section p {
        font-size: 1.2rem;
    }

    .book-cover img {
        max-width: 370px;
        height: auto;
        aspect-ratio: 4/5;    }
}

@media (max-width: 768px) {
    .text-section h1 {
        font-size: 3.5rem;
    }

    .text-section p {
        font-size: 1.1rem;
    }
    .n-m{
        padding: 0;
    }

    .text-section {
        text-align: left;
        padding: 20px;
        padding-top: 0;
    }

    .book-cover img {
        max-width: 320px;
        height: auto;
        aspect-ratio: 4/5;    }

    .text-section .button {
        margin-top: 2px;
    }

    .text-section p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 640px) {
    .text-section h1 {
        font-size: 3rem;
    }

    .text-section p {
        font-size: 1rem;
    }

    .text-section {
        text-align: left;
        padding: 20px;
        padding-top: 0;
    }
    .n-m{
        padding: 0;
    }

    .book-cover img {
        max-width: 270px;
        height: auto;
        aspect-ratio: 4/5;    }

    .text-section .button {
        margin-top: 2px;
    }

    .text-section p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/*genre*/

.container-g {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.genre {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 350px));
    gap: 15px;
    place-items: center;
    margin: 0 auto;
    max-width: 80rem;
    width: 100%;
}

.genre a {
    text-decoration: none;
}

.g {
    text-align: center;
}

.g img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 10px;
}

.g p {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: gray;
}

@media (max-width: 768px) {
    .genre {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns */
    }

    .g img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .g p {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: bold;
        color: gray;
    }
}

@media (min-width: 1024px) {
    .genre {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*Trending*/


.trend {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    background: linear-gradient(to right, rgba(131, 58, 180, 1) 0%, rgba(250, 114, 53, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: transparent;
    background-clip: text;
    font-weight: bold;
    font-family: "Expletus sans";
    font-style: italic;
}

.b-trend {
    background: linear-gradient(to right, #EAE6F3, #FFF4E6);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1.5rem;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    margin-bottom: 1rem;
}

.container-t {
    display: grid;
    place-items: center;
    margin-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card__container-t {
    display: grid;
    row-gap: 1.5rem;
}


.card__article-t {
    position: relative;
    overflow: hidden;

}

.card__img-t {
    display: block;
    max-width: 100%;
    height: auto;
    width: 200px;
    height: 310px;
    border-radius: 1.5rem;
    background-color: #5D3A76;

}

.card__data-t {
    width: 160px;
    height: 120px;
    background: linear-gradient(to right, #EAE6F3, #FFF4E6);
    padding: 1rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;

}


.card__title-t {
    font-size: 1.3rem;
    font-weight: 500;
    color: #3A3A3A;
    margin-bottom: .5rem;
    margin-top: .25rem;


}

.card__description-t {
    display: block;
    font-size: 15px;
    color: gray;
}

.card__button-t {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #5D3A76;

}

.card__button-t:hover {
    text-decoration: underline;
}

.card__article-t:hover .card__data-t {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article-t:hover {
    animation: remove-overflow 2s forwards;
}

.card__article-t:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article-t:not(:hover) .card__data-t {
    animation: remove-data 1s forwards;
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    .container-t {
        margin-inline: 1rem;
    }

    .card__container-t {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.7rem;
        row-gap: 0.7rem;
    }

    .card__data-t {
        padding: 1rem;
    }
    .b-trend {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .card__img-t {
        width: 160px;
        height: 270px;
    }
    .card__article-t:hover .card__data-t {
        animation: none; 
        opacity: 0; 
      }
    
      .card__article-t:not(:hover) .card__data-t {
        animation: none; 
        opacity: 0; 
      }
      .card__data-t {
        display: none; 
      }
}




@media screen and (min-width: 768px) {
    .card__container-t {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 1.5rem;
    }

    .card__data-t {
        padding-inline: 1rem;
    }
}

/*slide*/

.slideshow-container {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 0;
    border-radius: 15px;
}

.slide {
    display: flex;
}

.card-text {
    width: 80%;
    max-width: 40rem;
    padding-left: 10px;
    color: gray;
    font-size: 1.1rem;
}

.gp {
    margin-top: 0;
}

.gp1 {
    margin-bottom: 0;
}

.cut1 {
    display: none;
}

.card-link {
    width: auto;
    padding: 10px;
    border-radius: 15px;
    padding-left: 15px;
}

.card-image {
    object-fit: cover;
    border-radius: 10px;
    width: 230px;
    height: 330px;
}

.badge {
    color: #FF7F50;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 4px;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 0;
    background: linear-gradient(to right, rgba(131, 58, 180, 1) 0%, rgba(250, 114, 53, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: transparent;
    background-clip: text;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transition: 0.6s ease;
    z-index: 10;
    transform: translateY(-50%);
}

.next {
    right: 50px;
    margin-right: 0;
}

.prev {
    left: 50px;
    margin-left: 0;
}

.mySlides {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


@media (max-width: 768px) {
    .card-text {
        font-size: 13px;
    }

    .card-title {
        font-size: 1.4rem;
    }

    .cut {
        display: none;
    }

    .cut1 {
        display: inline-block;
    }

    .card-image {
        width: 100px;
        height: 150px;
    }

    .prev,
    .next {
        display: none;
    }

    .card-link {
        width: auto;
    }
}

/*footer*/

footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 70px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.title-f {
    color: rgb(140, 52, 199);
    font-weight: bold;
    font-size: 2rem;
    font-family: "Expletus sans";
    font-style: italic;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo21 {
    width: 200px;
    margin-bottom: 30px;
}

.ad {
    margin: 0;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul {

    padding-left: 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

.col ul li a:hover {
    text-decoration: underline;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .es {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background: transparent;
    color: #fff;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .es1 {
    font-size: 16px;
    color: #ccc;
}

.s-icon img {
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.ul {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.ul span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0px;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%
    }
}

@media (max-width: 768px) {
    footer {
        bottom: unset;
        border-top-left-radius: 0;
        padding-top: 30px;
    }

    .col {
        flex-basis: 100%;
    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 10%;
    }
}